
<div class="wrapper">
    <h1 class ="title">My routes</h1>
    <div class="table">
        <div class="row header">
            <div class="cell"> Route name </div>
            <div class="cell"> Number of points </div>
            <div class="cell">  </div>
        </div>
        <%= render current_user.routes %>
    </div>
</div>

<h1 class ="title">Create new route</h1>
<%= render 'routes/form' %>
    